[Unit]
Description=My super awesome application

[Service]
WorkingDirectory=/path/to/my-app
User=root
Restart=always
ExecStart=echo 'Hello World'
Group=root
Environment=MyKey=MyValue

[Install]
WantedBy=multi-user.target

